@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; 
  border-radius: 9999px;
  border: 2px solid #1f2937;
}

.text-shadow {
  text-shadow: 1.5px 1px 3px rgba(0, 0, 0, 0.6);
}